.nav {
  background-color: rgb(168, 146, 97);
  margin: 0 0 30px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
