.nav {
  margin: 0 0 30px;
  /* overflow: hidden; */
  height: 100%;
  width: 16.7%;
  position: fixed;
}

.nav-contents {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
